lts-startup/.settings/org.eclipse.m2e.core.prefs
lts-startup/.settings/org.eclipse.core.resources.prefs
lts-jobtracker/.settings/org.eclipse.m2e.core.prefs
lts-jobtracker/.settings/org.eclipse.core.resources.prefs
lts-admin/.settings/org.eclipse.wst.validation.prefs
lts-admin/.settings/org.eclipse.wst.common.project.facet.core.xml
lts-admin/.settings/org.eclipse.wst.common.component
lts-admin/.settings/org.eclipse.m2e.core.prefs
lts-admin/.settings/org.eclipse.core.resources.prefs

*.class
*.iml


# ide files #
.classpath
.project
.mymetadata
/.gradle/
/.idea/
/captures/
.DS_Store

# setting folders #
.settings/
.svn/
.bin/
target/
build/