<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
		metadata-complete="false" version="2.5">
		
	<display-name>LTS Admin</display-name>
	
	<welcome-file-list>
		<welcome-file>index.htm</welcome-file>
	</welcome-file-list>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring-core.xml</param-value>
	</context-param>
	
	<!-- 登录验证与授权Begin -->
	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>com.github.ltsopensource.admin.web.filter.LoginFilter</filter-class>
		<init-param>
			<!-- 无条件放行的URL -->
			<param-name>excludedUrls</param-name>
			<param-value>/checkversion.jsp</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 登录验证与授权End -->
	
	<!-- 访问权限(部分URL需授权用户才能访问)控制Begin -->
	<filter>
		<filter-name>authFilter</filter-name>
		<filter-class>com.github.ltsopensource.admin.web.filter.AuthFilter</filter-class>
		<init-param>
			<!-- 无条件放行的URL -->
			<param-name>excludedUrls</param-name>
			<param-value>/checkversion.jsp</param-value>
		</init-param>
		<init-param>
			<!-- 需要授权的URL -->
			<param-name>needAuthenticateUrls</param-name>
			<param-value>
				/lts-admin/api/job-queue/cron-job-update,					<!-- 任务队列管理/Cron任务之'编辑' -->
				/lts-admin/api/job-queue/cron-job-delete,					<!-- 任务队列管理/Cron任务之'删除' -->
				/lts-admin/api/job-queue/cron-job-suspend,					<!-- 任务队列管理/Cron任务之'暂停' -->
				
				/lts-admin/api/job-queue/repeat-job-update,					<!-- 任务队列管理/Repeat任务之'编辑' -->
				/lts-admin/api/job-queue/repeat-job-delete,					<!-- 任务队列管理/Repeat任务之'删除' -->
				/lts-admin/api/job-queue/repeat-job-suspend,				<!-- 任务队列管理/Repeat任务之'暂停' -->
				
				/lts-admin/api/job-queue/suspend-job-update,				<!-- 任务队列管理/暂停任务之'编辑' -->
				/lts-admin/api/job-queue/suspend-job-delete,				<!-- 任务队列管理/暂停任务之'删除' -->
				/lts-admin/api/job-queue/suspend-job-suspend,				<!-- 任务队列管理/暂停任务之'暂停' -->
				
				/lts-admin/api/job-queue/executing-job-terminate,			<!-- 任务队列管理/执行中的任务之'强制终止' -->
				
				/lts-admin/api/job-queue/executing-job-trigger,				<!-- 任务队列管理/等待执行的任务之'触发' -->
				/lts-admin/api/job-queue/executable-job-update,				<!-- 任务队列管理/等待执行的任务之'编辑' -->
				/lts-admin/api/job-queue/executable-job-delete,				<!-- 任务队列管理/等待执行的任务之'删除' -->
				/lts-admin/api/job-queue/executable-job-batchUpdate,		<!-- 任务队列管理/等待执行的任务之'批量操作优先级' -->
				/lts-admin/api/job-queue/executable-job-batchTrigger,		<!-- 任务队列管理/等待执行的任务之'批量触发' -->
				
				/lts-admin/load-job.htm										<!-- 任务队列管理/手动加载任务 -->
			</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>authFilter</filter-name>
	<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 访问权限权限(部分URL需授权用户才能访问)控制End -->
	
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-web.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
	
	<listener>
		<listener-class>com.github.ltsopensource.admin.support.SystemInitListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!--
	<servlet>
		<servlet-name>H2Console</servlet-name>
		<servlet-class>com.github.ltsopensource.admin.web.support.H2ConsoleWebServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>H2Console</servlet-name>
		<url-pattern>/h2/*</url-pattern>
	</servlet-mapping>
	-->
	
	
	
	
</web-app>